<h1>All Open Tasks</h1>

<% @tasks.each do |task| %>
  <div class="task">

    <%# task complete button %>
    <%= render partial: 'complete_button', locals: { task: task }%>

    <%# task content %>
    <div class="task-component content">
      <%= task.content %>
    </div>

    <%# task edit %>
    <%= render partial: 'edit_button', locals: { task: task }%>

    <%# task delete %>
    <%= render partial: 'delete_button', locals: { task: task }%>

<% end %>